.main-footer {
    background-color: #E5DED4;
    padding: 25px 0;
    margin-top: 40px;
    text-align: center;
    clear: both;
}

.main-footer p {
    
    color: $color-accent;
    font-size: 13px;
    margin: 0;
}

span{
    color: $color-muted;
}