.grayBar {
    height: 15px;
    background-color: #E8E8E8;
    width: 100%;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    color: $color-text;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: left; 
}