.hero, .bottom-section {
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: $color-accent;
    margin-bottom: 15px;
}

p {
    font-size: 13px;
    color: $color-muted;
    line-height: 1.5;
    margin-bottom: 15px;
}
